.some-page-wrapper {
  margin: 15px;
  background-color: white;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* DASHBOARD */

.white {
  background-color: white;
}

.green {
  background-color: #d9fce9;
}

.orange {
  background-color: #f8e9d0;
}

.red {
  background-color: #fff9fa;
}

.blue {
  background-color: #ebfbfb;
}

.dashboard {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 150px;
  width: 180px;
  margin: 5px;
  text-align: center;
  padding: 30px;
  font-size: 100%;
  font-weight: bold;
}

.dashboard:hover {
  background-color:#e6ebff;
}

.dashboard_links {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 100px;
  width: 180px;
  margin: 5px;
  text-align: center;
  padding: 30px;
  font-size: 100%;
  font-weight: bold;
}

.dashboard_links:hover {
  background-color:#e6ebff;
}
