{% extends "layout.html" %}
{% block title %}Bitcoin Address{% endblock %}
{% block content %}
<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
    <div id="qrcode"></div>
        <h1 style="margin-top: 50px;">{{ address }}</h1>
        <p>Save your newly-generated Bitcoin address</p>
        <ul class="actions">
            <li><a href="" class="button submit" id="export-wallet-button">Export Wallet Info</a></li>
        </ul>
    </div>
</section>
<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/qrcode.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
<script type="text/javascript">
    var qrcode = new QRCode("qrcode", {
        text: "{{ address }}",
        width: 300,
        height: 300,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
    var exportButton = document.querySelector("#export-wallet-button");
    // Later include xpub, mnemonic etc
    exportButton.setAttribute("href",  "data:text/plain;charset=utf-8," + 
        encodeURIComponent(`publicAddress:{{ address }}`
        )
    );
    exportButton.setAttribute("download", "wallet-info.txt");
</script>
{% endblock %}
{% block footer %}
    <div class="inner">
        <ul class="menu">
            <li>&copy; Alloy. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
{% endblock %}
