{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    <h2>BALANCES</h2>
    <ul>
	confirmed on-chain balance(sats): {{ funds_dict.sats_onchain }} sats
    </ul>
    <ul>
	ln-channels balance(sats): {{ funds_dict.sats_channel }} sats
    </ul>
</div>
<div>
    <h2>DIAGNOSTIC</h2>
    <ul>
        <li>
            <a href="/lightningd_getinfo">lightningd getinfo</a>
        </li>
    </ul>
</div>
<div>
<h2>BTC</h2>
    <ul>
        <li>
            <a href="/send_bitcoin">send_bitcoin</a>
        </li>
        <li>
            <a href="/new_address">new address</a>
        </li>
        <li>
            <a href="/list_txs">transaction history</a>
        </li>
    </ul>
</div>
<div>
<h2>LIGHTNING</h2>
    <ul>
        <li>
            <a href="/ln_invoice">generate invoice</a><br>
        </li>
        <li>
            <a href="/pay_invoice">pay invoice</a><br>
        </li>
        <li>
            <a href="/invoices">invoice history</a><br>
        </li>
        <li>
            <a href="/channel_opener">open a channel</a><br>
        </li>
    </ul>
</div>
{% endblock %}

{% block footer %}
    <div class="inner">
        <ul class="menu">
            <li>&copy; Alloy. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
{% endblock %}
