<!DOCTYPE html>
<html lang="en">
    <head>
	{% block head %}
        <meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ url_for('static',filename='assets/js/socket.io.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/sweetalert2.all.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_reporting.css') }}"crossorigin="anonymous"/>
	{% endblock %}
    </head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="visually-hidden"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    <body>
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
	</div>
    </body>
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                {% block footer %}
                    <p><center>&copy; Alloy. All rights reserved</center><p>
                {% endblock %}
            </ul>
        </div>
    </footer>
    <script type="text/javascript" charset="utf-8">
	    var socket = io();
	    socket.on('connect', function() {
		console.log("connected");
		socket.emit('waitany');
	    });
	    socket.on('invoice', function(result) {
		console.log("recieved invoice");
		var parsedResult = result["data"];
		console.log(parsedResult);
		var satsReceived = parseFloat(parsedResult["msatoshi"]) / 1000;
		var bolt11 = parsedResult["bolt11"];
		var shortenedBolt11 = bolt11.slice(0,2) + ".." + bolt11.slice(-4);
		Swal.fire({
			title: 'Invoice Recieved',
			text: `Received: ${satsReceived} sats, Invoice: ${shortenedBolt11}`,
			icon: 'success',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Confirm'
		});
		// forever wait for invoice
		socket.emit('waitany');
	    });
    </script>

</html>
