{% extends "layout.html" %}
{% block title %}Send Form{% endblock %}
{% block content %}
<script src="{{ url_for('static',filename='assets/js/qrcode.min.js') }}"></script>
<script>
	const createInvoice = function() {
		const bolt11 = `{{ instance.create_invoice(100, "test")["bolt11"] }}`;
		document.querySelector("section").innerHTML=`
			<h2>Invoice Generated!</h2>
			<p>${bolt11}</p>
			<div id="qrcode"></div>
		`;
		var qrcode = new QRCode("qrcode", {
			text: bolt11,
			width: 400,
			height: 400,
			colorDark : "#000000",
			colorLight : "#ffffff",
			correctLevel : QRCode.CorrectLevel.H
		});
	}


</script>

<h2>Create Invoice</h2>
<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
<section>
    <form method="post" action="#">
        <div class="fields">
            <div class="field half">
                <label for="amount">Amount (Sats)</label>
                <input type="text" name="amount" id="email" />
            </div>
            <div class="field half">
                <label for="message">Message</label>
                <input type="text" name="message" id="name" />
            </div>
        </div>
        <ul class="actions">
		<li class="button submit" onclick="createInvoice()">Create Invoice</li>
        </ul>
    </form>
</section>
{% endblock %}
{% block footer %}
    <div class="inner">
        <ul class="menu">
            <li>&copy; Alloy. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
{% endblock %}
