{% extends "layout-new.html" %}
{% block title %}New Address{% endblock %}
{% block head %}
{{ super() }}
<!--
<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
<noscript><link rel="stylesheet" href="{{ url_for('static',filename='assets/css/noscript.css') }}" /></noscript>
-->
{% endblock %}
{% block content %}
<br/>
<h2>New Bitcoin Address</h2>
{{ qrcode_svg | safe}}
<br/>
<h1 style="margin-top: 50px;">{{ address.bech32 }}</h1>
<br/>
<button type="button" class="btn btn-primary" onClick="window.location.reload();">Generate New Address</button>
<button type="submit" onclick="window.open('file.doc')">Download!</button>

<a href ="#" id="donwload-link" onClick="myFunction()">
    <button type="button" class="btn btn-primary">Save Bitcoin Address</button>
</a>

<a href ="" class="button submit" id="export-wallet-button">
    <button type="button" class="btn btn-primary">2Save Bitcoin Address</button>
</a>

<script>
function myFunction() {
  var content = document.documentElement.innerHTML;
  download(content, "index", "txt")
}

function download(content, fileName, fileType) {
  var link = document.getElementById("donwload-link");
  var file = new Blob([content], {type: fileType});
  var donwloadFile = fileName + "." + fileType;
  link.href = URL.createObjectURL(file);
  link.download = donwloadFile
}
</script>


<!--
<div id="wrapper">
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <div id="qrcode"></div>
                <h1 style="margin-top: 50px;">{{ address.bech32 }}</h1>
                <p>Save your newly-generated Bitcoin address</p>
                <ul class="actions">
                    <li><a href="" class="button submit" id="export-wallet-button">Export Wallet Info</a></li>
                </ul>
        </div>
    </section>
</div>
-->
		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/qrcode.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
			<script type="text/javascript">
				var qrcode = new QRCode("qrcode", {
					text: "{{ address.bech32 }}",
				    width: 400,
				    height: 400,
				    colorDark : "#000000",
				    colorLight : "#ffffff",
				    correctLevel : QRCode.CorrectLevel.H
				});
				var exportButton = document.querySelector("#export-wallet-button");
                                // Later include xpub, mnemonic etc
				exportButton.setAttribute("href",  "data:text/plain;charset=utf-8," + 
					encodeURIComponent(`publicAddress:{{ address.bech32 }}`
					)
				);
				exportButton.setAttribute("download", "wallet-info.txt");
			</script>
			
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
