{% extends "layout.html" %}
{% block title %}Send Bitcoin{% endblock %}
{% block content %}
<script src="{{ url_for('static',filename='assets/js/qrcode.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/css/sweetalert2.min.css') }}"></script>
<script>
	const expand = function() {
		document.querySelector("#payment-fields").insertAdjacentHTML(
		"afterend",
		`
			<label for="address">Address</label>
			<input type="text" name="address" id="name" class="input-element"/>
			<label for="amount">Amount (₿)</label>
			<input type="text" name="amount" id="email" class="input-element"/>
		`);
	}
	const multiWithdraw = function() {
		var requestLoad = [];
		var paymentFields = document.getElementsByClassName("input-element");
		var totalBtc = 0;
		for(var i = 0; i < paymentFields.length; i+=2) {
			var outputObj = {
				[`${paymentFields[i].value}`] : `${paymentFields[i+1].value}btc`
			};
			requestLoad.push(outputObj);
			totalBtc += parseFloat(paymentFields[i+1].value);
		}

		Swal.fire({
			title: 'Confirm Payment',
			text: `Total: ₿${totalBtc}`,
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Confirm'
		}).then((result) => {
			if (result.isConfirmed) {
				var requestLoadString = JSON.stringify({"address_amount" : requestLoad});
				fetch('/withdraw', {
					method: 'POST',
					headers: {
					  'Content-Type': 'application/json',
					},
					body: requestLoadString,
				})
				.then(response => response.text())
				.then(data => {
					if (data !== "error") {
						console.log('Success:', data);
						Swal.fire({
							icon: 'success',
							title: 'Sent!',
							html: `<a href="{{ bitcoin_explorer }}/tx/${JSON.parse(data).txid}">View Transaction</a>`
						})
					} else {

						Swal.fire({
							icon: 'error',
							title: 'Transaction Failed!',
							text: 'Check you entered a correct address & amount'
						})
					}
				});
			}
		});

	}
</script>
<ul class="actions">
	<li> <a class="button submit" href="/">Back</a></li>
</ul>
<h2>Send Bitcoin</h2>
<section>
<div class="fields">
    <div class="field half" id="payment-fields">
	<label for="address">Address</label>
	<input type="text" name="address" id="name" class="input-element"/>
	<label for="amount">Amount (₿)</label>
	<input type="text" name="amount" id="email" class="input-element"/>
    </div>
</div>
<ul class="actions">
	<li> <a class="button submit" onclick="expand()">Add Output</a></li><br>
	<li> <a class="button submit" onclick="multiWithdraw()">Send Bitcoin</a></li>
</ul>
</section>
{% endblock %}
{% block footer %}
    <div class="inner">
        <ul class="menu">
            <li>&copy; Alloy. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
{% endblock %}
