{% extends "layout.html" %}
{% block title %}Multi Withdraw{% endblock %}
{% block content %}
<script src="{{ url_for('static',filename='assets/js/qrcode.min.js') }}"></script>
<script>
	const expand = function() {
		document.querySelector("#payment-fields").innerHTML+=`
			<label for="address">Address</label>
			<input type="text" name="address" id="name" />
			<label for="amount">Amount (₿)</label>
			<input type="text" name="amount" id="email" />
		`;
	}
	const multiWithdraw = function() {
		var requestLoad = [];
		var paymentFields = document.getElementsByClassName('input-element');
		for(var i = 0; i < paymentFields.length; i+=2) {
			var outputObj = {
				[`${paymentFields[i].value}`] : `${paymentFields[i+1].value}btc`
			};
			requestLoad.push(outputObj);

		}
		var requestLoadString = JSON.stringify({"address_amount" : requestLoad});
		fetch('/multi_withdraw', {
			method: 'POST',
			headers: {
			  'Content-Type': 'application/json',
			},
			body: requestLoadString,
		})
		.then(response => response.text())
		.then(data => {
			console.log('Success:', data);
		});

	}


</script>

<h2>Send Multiple</h2>
<section>
<div class="fields">
    <div class="field half" id="payment-fields">
	<label for="address">Address</label>
	<input type="text" name="address" id="name" class="input-element"/>
	<label for="amount">Amount (₿)</label>
	<input type="text" name="amount" id="email" class="input-element"/>
    </div>
</div>
<ul class="actions">
	<li> <a class="button submit" onclick="expand()">Add Output</a></li>
	<li> <a class="button submit" onclick="multiWithdraw()">Pay Invoice</a></li>
</ul>
</section>
{% endblock %}
{% block footer %}
    <div class="inner">
        <ul class="menu">
            <li>&copy; Alloy. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
{% endblock %}
