{% extends "layout.html" %}
{% block title %}Send Form{% endblock %}
{% block content %}
<h2>Send Bitcoin</h2>
<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
<section>
    <form method="post" action="#">
        <div class="fields">
            <div class="field half">
                <label for="address">Address</label>
                <input type="text" name="address" id="name" />
            </div>
            <div class="field half">
                <label for="amount">Amount (₿)</label>
                <input type="text" name="amount" id="email" />
            </div>
	    <!--
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="5"></textarea>
            </div>
	    -->
        </div>
        <ul class="actions">
            <li><a href="" class="button submit">Send Bitcoin</a></li>
        </ul>
    </form>
</section>
<br><br><br>
{% endblock %}
{% block footer %}
    <div class="inner">
        <ul class="menu">
            <li>&copy; Alloy. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
{% endblock %}
